/* =========================================================================================
    File Name: color.scss
    Description: color  Component in  page css
    Component Name: color component
    ----------------------------------------------------------------------------------------
    Item Company: Fanam 
      Author: pooria vakili

==========================================================================================*/
$light-blue:#0083a1;
$light-blue-input-one:#ebf3f6;
$dark-orange:#fdc236;
$dark:#002833;
$white:#ffff;
$black:#000;
$DarkGray:#666666;
$LightGray:#f7f8f9;
$blodDark:rgba(149, 157, 165, 0.2) 0px 8px 24px;
.light-blue{
  color:$light-blue !important
}